# Ignore system files
*.pyc
__pycache__/

# Ignore Django-specific files
*.sqlite3
*.pyc
*.pyo
*.pyd
*.db
*.log
*.pot
*.po
*.mo
*.env

# Ignore user-uploaded media
/media
/static 

# Ignore static files collected by Django
staticfiles/

# Ignore environment-specific files
.env
local_settings.py

# Ignore IDE or editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.suo
*.cache
*.log
.DS_Store

# Ignore dependency directories
venv/
node_modules/
